<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>CQL Code Clinic</title>
  		<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
      <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-okaidia.min.css" />-->
  		<script src="https://unpkg.com/vue@next"></script>
  		<script src="https://unpkg.com/element-plus"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
      <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"></script>
      <link rel="stylesheet" href="style/style.css" />
    </head>
    <body>
		    <div id="app">
          <el-container>
            <el-header>
              <el-row>
                <el-col :span="4"><span style="font-size:32px;">CQL Code Clinic</span></el-col>
                <el-col :span="16" style="text-align: center;">
                  <el-button type="primary" @click="pageBack" plain><i class="fa-solid fa-left-long" style="font-size: 16px;"></i></el-button>
                  <el-button type="primary" @click="drawer = true"><i class="fa-solid fa-bars" style="font-size: 16px;"></i><pre style="font-size: 16px;">  Bookmarks</pre></el-button>
                  <el-button type="primary" @click="pageForward" plain><i class="fa-solid fa-right-long" style="font-size: 16px;"></i></el-button>
                </el-col>
              </el-row>
              <el-drawer v-model="drawer" title="Bookmarks" :with-header="false">
                <!--<el-steps :active="index" direction="vertical" :space="200" align-center>
                  <el-step v-for="exercise in exercises" :title="exercise.name" :description="exercise.description"></el-step>
                </el-steps>-->
                <el-timeline>
                  <el-timeline-item v-for="(exercise, index) in exercises" :key="index" @click="goTo(index)" placement="top" center>
                    <h3>{{exercise.name}}</h3>
                    <p>{{exercise.description}}</p>
                    <!--<el-card>
                      <h3>{{exercise.name}}</h3>
                      <p>{{exercise.description}}</p>
                    </el-card>-->
                  </el-timeline-item>
                </el-timeline>
              </el-drawer>
            </el-header>
            <el-container>
              <el-main>
                <instruct-able :exercise="currentExercise" style="height: calc(100vh - 160px); width: 40vw;"></instruct-able>
              </el-main>
              <el-main>
                <el-row>
                  <el-col>
                    <code-editor :exercise="currentExercise" :status="status" height="calc(55vh - 150px)" width="50vw" :on-run="runCode" :on-submit="submitAnswer"></code-editor>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col>
                    <code-logger height="calc(40vh - 225px)" :text="log" :on-clear="clearLog"></code-logger>
                  </el-col>
                </el-row>
              </el-main>
            </el-container>
            <el-footer>
              <el-steps :active="index" :space="200" finish-status="success" align-center>
                <el-step v-for="exercise in exercises" :title="exercise.name"></el-step>
              </el-steps>
            </el-footer>
          </el-container>
        </div>
        <script src="js/helpers.js"></script>
        <script src="js/cql.js"></script>
        <script src="js/code-editor.vue"></script>
        <script src="js/code-logger.vue"></script>
        <script src="js/instruct-able.vue"></script>
        <script src="js/store.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
